*.pyc
business/eures/import/logs/*.log
business/eures/import/config.inc.php

media/.DS_Store

media/eu_parliament_audiovisual/.DS_Store

media/eu_parliament_audiovisual/chromedriver.log

media/eu_parliament_audiovisual/eup_media_assets.nt

media/eu_parliament_audiovisual/eup_media_assets.ttl

media/eu_parliament_audiovisual/example_pages/.DS_Store

media/eu_parliament_audiovisual/upload/*

media/eu_parliament_audiovisual/intermediate/.DS_Store

media/eu_parliament_audiovisual/logs/eu_media.log

media/eu_parliament_audiovisual/intermediate/audio/csv/*
media/eu_parliament_audiovisual/intermediate/photo/csv/*
media/eu_parliament_audiovisual/intermediate/video/csv/*

media/eu_parliament_audiovisual/output/*/*
media/eu_parliament_audiovisual/output/*
