/*  HTML5 ✰ Boilerplate  */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video
	{
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
	{
	display: block;
}

nav ul {
	list-style: none;
}

blockquote,q {
	quotes: none;
}

blockquote:before,blockquote:after,q:before,q:after {
	content: '';
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

ins {
	background-color: #ff9;
	color: #000;
	text-decoration: none;
}

mark {
	background-color: #ff9;
	color: #000;
	font-style: italic;
	font-weight: bold;
}

del {
	text-decoration: line-through;
}

abbr[title],dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0;
	padding: 0;
}

input,select {
	vertical-align: middle;
}

body {
	font: 13px/1.231 sans-serif;
	*font-size: small;
}

select,input,textarea,button {
	font: 99% sans-serif;
}

pre,code,kbd,samp {
	font-family: monospace, sans-serif;
}

body,select,input,textarea {
	color: #444;
}

h1,h2,h3,h4,h5,h6 {
	font-weight: bold;
}

html {
	overflow-y: scroll;
}

a:hover,a:active {
	outline: none;
}

a,a:active,a:visited {
	color: #607890;
}

a:hover {
	color: #036;
}

ul,ol {
	margin-left: 1.8em;
}

ol {
	list-style-type: decimal;
}

nav ul,nav li {
	margin: 0;
}

small {
	font-size: 85%;
}

strong,th {
	font-weight: bold;
}

td,td img {
	vertical-align: top;
}

sub {
	vertical-align: sub;
	font-size: smaller;
}

sup {
	vertical-align: super;
	font-size: smaller;
}

pre {
	padding: 15px;
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
}

textarea {
	overflow: auto;
}

.ie6 legend,.ie7 legend {
	margin-left: -7px;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}

.ie6 input {
	vertical-align: text-bottom;
}

label,input[type=button],input[type=submit],button {
	cursor: pointer;
}

button,input,select,textarea {
	margin: 0;
}

input:valid,textarea:valid {
	
}

input:invalid,textarea:invalid {
	border-radius: 1px;
	-moz-box-shadow: 0px 0px 5px red;
	-webkit-box-shadow: 0px 0px 5px red;
	box-shadow: 0px 0px 5px red;
}

.no-boxshadow input:invalid,.no-boxshadow textarea:invalid {
	background-color: #f0dddd;
}

::-moz-selection {
	background: #FF5E99;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #FF5E99;
	color: #fff;
	text-shadow: none;
}

a:link {
	-webkit-tap-highlight-color: #FF5E99;
}

button {
	width: auto;
	overflow: visible;
}

.ie7 img {
	-ms-interpolation-mode: bicubic;
}

.ir {
	display: block;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	text-align: left;
	direction: ltr;
}

.hidden {
	display: none;
	visibility: hidden;
}

.visuallyhidden {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px);
	clip: rect(1px, 1px, 1px, 1px);
}

.invisible {
	visibility: hidden;
}

.clearfix:before,.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	visibility: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

/* Primary Styles
    Author: 
*/
/* General layout *****************************************************/
body {
	background: url("../images/body_bg.png") repeat scroll 0 0 #F1F1F1;
	color: #333333;
	font-family: "Helvetica Neue", Arial, Helvetica, Verdana, sans-serif;
	font-size: 0.75em;
	font-weight: normal;
	text-align: center;
}

label {
	line-height: 1.8;
	clear: both;
	vertical-align: top;
}

#container {
	margin: 0 auto;
	text-align: left;
	width: 960px;
}

.left-column {
	float: left;
	margin-right: 30px;
	width: 460px;
}

.right-column {
	float: right;
	width: 420px;
}

.panes>div {
	display: none;
	padding: 15px 10px;
	border: 1px solid #999;
	border-top: 0;
	font-size: 14px;
	background-color: #fff;
}

.description {
	padding: 5px;
	text-align: justify;
	color: #555555;
}

/* Headers ************************************************************/
h2 {
	font-size: 18px;
	font-weight: normal;
	line-height: 24px;
	border-bottom: 1px solid #D4D4D4;
	margin-bottom: 5px;
	margin-top: 20px;
	color: #000000;
}

h2:first-child {
	margin-top: 10px;
}

.feed-link {
	background: url("../images/feed.png") repeat scroll 0 0 #F1F1F1;
	float: right;
	display: block;
	width: 16px;
	height: 16px;
	margin-top: 6px;
}

/* Tasks **************************************************************/
#tasksList {
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #F9F9F9;
	border: 1px solid #CCCCCC;
}

.taskBlock {
	border-bottom: 1px solid #D9D9D9;
	border-top: 1px solid #FFFFFF;
	padding: 8px 10px;
	line-height: 18px;
	overflow: hidden;
	position: relative;
}

.taskBlock>p {
	padding-top: 5px;
}

h3.silkTask {
	background: url("../images/link_add.png");
	background-repeat: no-repeat;
	padding-left: 20px;
}

.taskBlock:first-child {
	border-top: medium none;
}

.taskBlock:last-child {
	border-bottom: medium none;
}

#task-details-about-form input {
	border: 1px solid #D9D9D9;
	width: 100%;
}

#task-details-about-form input.submit {
	width: auto;
	float: right;
	border: 1px solid #D9D9D9;
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #F9F9F9;
	background: url("../images/disk.png") no-repeat scroll 5px 6px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 25px;
	vertical-align: middle;
}

#task-details-about-form input.submit:hover {
	background-color: #D9D9D9;
}

#task-details-about-form textarea {
	border: 1px solid #D9D9D9;
	width: 100%;
}

button {
	border: 1px solid #D9D9D9;
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #F9F9F9;
	padding: 5px 5px 5px 5px;
	vertical-align: middle;
}

button.delete {
	background: url("../images/cross.png") no-repeat scroll 5px 6px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 25px;
}

button.delete:hover {
	background-color: #D9D9D9;
}

button.watch {
	background: url("../images/eye.png") no-repeat scroll 5px 6px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 25px;
}

button.watch:hover {
	background-color: #D9D9D9;
}

a.edit {
	border: 1px solid #D9D9D9;
	-moz-border-radius: 5px 5px 5px 5px;
	background-color: #F9F9F9;
	vertical-align: middle;
	background: url("../images/pencil.png") no-repeat scroll 5px 6px;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 25px;
	text-decoration: none;
}

a.edit:hover {
	background-color: #D9D9D9;
}

/* Data tables ********************************************************/
table {
	cellspacing: 0;
	cellpadding: 0;
	border: 0;
}

.dataTables_filter {
	float: right;
	text-align: right;
	vertical-align: middle;
}

.dataTables_filter>input {
	border: 1px solid #D9D9D9;
}

table.display {
	margin: 0 auto;
	margin-top: 5px;
	clear: both;
	width: 100%;
	border: 1px solid #D9D9D9;
}

table.display thead th {
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid #D9D9D9;
	font-weight: bold;
	cursor: pointer;
	background-color: #F9F9F9;
}

table.display tfoot th {
	padding: 3px 18px 3px 10px;
	border-top: 1px solid #D9D9D9;
	font-weight: bold;
}

table.display tr.heading2 td {
	border-bottom: 1px solid #aaa;
}

table.display td {
	padding: 3px 10px;
}

table.display td.center {
	text-align: center;
}

.sorting_asc {
	background: url('../images/sort_asc.png') no-repeat center right;
}

.sorting_desc {
	background: url('../images/sort_desc.png') no-repeat center right;
}

.sorting {
	background: url('../images/sort_both.png') no-repeat center right;
}

.sorting_asc_disabled {
	background: url('../images/sort_asc_disabled.png') no-repeat center
		right;
}

.sorting_desc_disabled {
	background: url('../images/sort_desc_disabled.png') no-repeat center
		right;
}

#taskSelector tbody tr:hover {
	background-color: #A9DCDC;
}

#taskSelector tr.row_selected td {
	background-color: #B0BED9;
}

/* Login box **********************************************************/
.drop-down {
	display: inline-block;
	position: relative;
}

#login-link {
	background: url("../images/key.png") no-repeat scroll 0 5px #F9F9F9;
	background-repeat: no-repeat;
	padding: 5px 5px 5px 20px;
	border: 1px solid #D4D4D4;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}

#login-panel {
	bottom: 0;
	position: absolute;
	right: 0;
	height: 0;
	display: none;
}

#login-panel-content {
	diplay: block;
	margin-top: 5px;
	padding: 10px 15px 5px 15px;
	background: #F9F9F9;
	font-size: 8pt;
	font-weight: bold;
	border: 1px solid #D4D4D4;
	z-index: 1000;
}

.modal {
	background-color: #fff;
	display: none;
	width: 350px;
	padding: 15px;
	text-align: left;
	border: 2px solid #333;
	opacity: 0.8;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-box-shadow: 0 0 50px #ccc;
	-webkit-box-shadow: 0 0 50px #ccc;
}

@media all and (orientation:portrait) {
}

@media all and (orientation:landscape) {
}

@media screen and (max-device-width: 480px) {
	/* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media print {
	* {
		background: transparent !important;
		color: #444 !important;
		text-shadow: none !important;
	}
	a,a:visited {
		color: #444 !important;
		text-decoration: underline;
	}
	a:after {
		content: " (" attr(href) ")";
	}
	abbr:after {
		content: " (" attr(title) ")";
	}
	.ir a:after {
		content: "";
	}
	pre,blockquote {
		border: 1px solid #999;
		page-break-inside: avoid;
	}
	thead {
		display: table-header-group;
	}
	tr,img {
		page-break-inside: avoid;
	}
	@page {
		margin: 0.5cm;
	}
	p,h2,h3 {
		orphans: 3;
		widows: 3;
	}
	h2,h3 {
		page-break-after: avoid;
	}
}